@page "/Success"

<div class="success-box">
    <div class="success-icon">✔</div>
    <h1>Success!</h1>
    <p>Your operation was completed successfully. Thank you for your submission!</p>

</div>

@code {

}
